.page-header ol {
	margin-left:  25%;
}
.panel-body div{
	margin-bottom: 10px;
}
.input-panel{
	margin-top: 20px;
}
#sort-item{
	float: right;
	margin-right: 10px;
}
#gradeTable input{
	border-radius: 5px;
	border:1px solid gray;
}
#query{
	margin-left: 10px;
}